<ng-container *ngIf="users$ | async; let users">
  <div class="row mb-3" *ngFor="let user of users">
    <div class="col">
      <app-card>
        <div class="d-flex">
          <div>
            <i class="bi bi-person-circle"></i>
          </div>
          <div class="ms-3 pt-4">
            <div class="name-font">{{ user.name }} {{ user.surname }}</div>
            <div class="email-font">
              {{ user.email }}
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</ng-container>
