<div class="container pt-5">
  <div class="row">
    <div class="col">
      <h3>Device Details</h3>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col" *ngIf="device$ | async; let device">
      <app-card>
        <div class="d-flex">
          <div>
            <i class="bi bi-pc"></i>
          </div>
          <div class="ms-3 pt-4">
            <div class="name-font">{{ device.name }}</div>
            <div class="secondary-font">Code #{{ device.code }}</div>
          </div>
        </div>
      </app-card>
    </div>

    <ng-container *ngIf="deviceError$ | async; let deviceError">
      <div class="col" *ngIf="deviceError?.error">
        <div class="alert alert-danger" role="alert">
          {{ deviceError.error.message }}
        </div>
      </div>
    </ng-container>
  </div>

  <div class="row mt-3">
    <div class="col">
      <h4>Device Users</h4>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <div class="">
            <input
              type="email"
              name="email"
              id="emailInput"
              placeholder="Email address"
              class="form-control form-control-lg"
            />
          </div>
        </div>
        <div class="col-9">
          <button
            type="submit"
            class="btn btn-primary btn-lg"
          >
            Add user
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <ng-container *ngIf="users$ | async; let users">
    <div class="row mb-3 mt-3">
      <div class="col">
        <strong>Total</strong> {{ users.totalElements }} users
      </div>
    </div>

    <div class="row mb-3" *ngFor="let user of users.content">
      <div class="col">
        <app-card>
          <div class="d-flex">
            <div>
              <i class="bi bi-person-circle"></i>
            </div>
            <div class="ms-3 pt-4">
              <div class="name-font">{{ user.name }} {{ user.surname }}</div>
              <div class="email-font">
                {{ user.email }}
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </ng-container> -->
</div>
